In [1]:
import os
import numpy as np

In [2]:
from classes.money_line import MoneyLine
from classes.parlay_system import ParlaySystem

In [3]:
match_a_team_1 = MoneyLine(event="min", 
                           bet_amount=100, 
                           money_line_odds=130)

# match_a_team_1.df_stats

In [4]:
match_a_team_2 = MoneyLine(event="ny",
                           bet_amount=100,
                           money_line_odds=-150)
# match_a_team_2.df_stats

In [5]:
match_b_team_1 = MoneyLine(event="mia",
                           bet_amount=100,
                           money_line_odds=110)

# match_b_team_1.df_stats

In [6]:
match_b_team_2 = MoneyLine(event="was",
                           bet_amount=100,
                           money_line_odds=-130)

# match_b_team_2.df_stats

In [7]:
match_c_team_1 = MoneyLine(event="sd",
                           bet_amount=100,
                           money_line_odds=-120)

# match_c_team_1.df_stats

In [24]:
match_c_team_2 = MoneyLine(event="sf",
                           bet_amount=100,
                           money_line_odds=100)

# match_c_team_2.df_stats

In [9]:
binaries = [
    [match_a_team_1, match_a_team_2],
    [match_b_team_1, match_b_team_2],
    [match_c_team_1, match_c_team_2]
]

In [10]:
parlay_system = ParlaySystem(binaries=binaries,
                             target_profit=0.075,
                             bounds=(0.01, 50))

results = parlay_system.slsqp_solver(profit_type='avg_implied_profit')
# results = parlay_system.slsqp_solver(profit_type='avg_profit')

            constraints:
            [{'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x143e47f80>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x143e6b050>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x143e6b0e0>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x143e6b170>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x143e6b200>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x143e6b290>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x143e6b320>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x143e6b3b0>}]


            final_val:
                 fun: 0.0030599465666497514
     jac: array([0.01582675, 0.01582675, 0.01582675, 0.01582675, 0.01582675,
       0.01582675, 0.01582675, 0.01582675])
 message: 'Positive directional derivative for linesearch'
    nfev: 219
     nit: 19
    njev: 15
  status: 8
 success: False
       x: array([0.02777849, 0.03030381, 0.03297186, 0.02935367, 0.02600493,
       0.02107044, 0.01585703, 0.01      ])


            ['mia_min_sixers', 'mia_min_sd', 'min_sixers_was', 'min_sd_was', 'mia_ny_sixers', 'mia_ny_sd', 'ny_sixers_was', 'ny_sd_was']
            [866.0, 785.5, 713.8461538461538, 646.025641025641, 600.0, 541.6666666666667, 489.74358974358967, 440.59829059829065]
            [0.0278, 0.0303, 0.033, 0.0294, 0.026, 0.0211, 0.0159, 0.01]
            [9.66, 8.855, 8.1385, 7.4603, 7.0, 6.4167, 5.8974, 5.406]
            [0.10351966873706005, 0.11293054771315642, 0.1228733459357278, 0.13404365011170305, 0.14285714285714285, 0.1558441558441558, 0.1695652173913044, 0.18498023715415018]
            [0.2683, 0.2683, 0.2683, 0.219, 0.182, 0.1352, 0.0935, 0.0541]
            [0.075, 0.075, 0.075, 0.026, -0.011, -0.058, -0.1, -0.139]


            Parlay system total bet 0.19:

In [11]:
results.head(10)
results.to_csv('/Users/ramp/Desktop/projects/sports_book2/data/mlb_profit_boost.csv', header=True, index=False)

# results_implied_profit.head(10)

In [12]:
print(f'''
    Total Bet Amount: {results['bet'].sum()}
    Total Implied Probability: {results['implied_prob'].sum()}
    Average Profit: {results['profit'].mean()}
''')

    Total Bet Amount: 0.1935
    Total Implied Probability: 1.1266139657444005
    Average Profit: -0.007125000000000006

In [13]:
results['expected_value'] = results['implied_prob'] * results['profit']
results[['event', 'bet', 'dec_odds', 'implied_prob', 'payout','profit', 'expected_value']].head(10)

            event     bet  dec_odds  implied_prob  payout  profit  expected_value
0  mia_min_sixers  0.0278    9.6600      0.103520  0.2683   0.075        0.007764
1      mia_min_sd  0.0303    8.8550      0.112931  0.2683   0.075        0.008470
2  min_sixers_was  0.0330    8.1385      0.122873  0.2683   0.075        0.009216
3      min_sd_was  0.0294    7.4603      0.134044  0.2190   0.026        0.003485
4   mia_ny_sixers  0.0260    7.0000      0.142857  0.1820  -0.011       -0.001571
5       mia_ny_sd  0.0211    6.4167      0.155844  0.1352  -0.058       -0.009039
6   ny_sixers_was  0.0159    5.8974      0.169565  0.0935  -0.100       -0.016957
7       ny_sd_was  0.0100    5.4060      0.184980  0.0541  -0.139       -0.025712

In [14]:

print(f'''
    Total Bet           : {results['bet'].sum()}
    Total Expected value: {results['expected_value'].sum()}
''')

    Total Bet           : 0.1935
    Total Expected value: -0.024344762232096834

In [19]:
all_results = results.loc[results['profit'] != 0.000000000] 
all_results

            event     ml_odds  dec_odds     bet  implied_prob  payout  profit  expected_value
0  mia_min_sixers  866.000000    9.6600  0.0278      0.103520  0.2683   0.075        0.007764
1      mia_min_sd  785.500000    8.8550  0.0303      0.112931  0.2683   0.075        0.008470
2  min_sixers_was  713.846154    8.1385  0.0330      0.122873  0.2683   0.075        0.009216
3      min_sd_was  646.025641    7.4603  0.0294      0.134044  0.2190   0.026        0.003485
4   mia_ny_sixers  600.000000    7.0000  0.0260      0.142857  0.1820  -0.011       -0.001571
5       mia_ny_sd  541.666667    6.4167  0.0211      0.155844  0.1352  -0.058       -0.009039
6   ny_sixers_was  489.743590    5.8974  0.0159      0.169565  0.0935  -0.100       -0.016957
7       ny_sd_was  440.598291    5.4060  0.0100      0.184980  0.0541  -0.139       -0.025712

In [15]:
pos_results = results.loc[results['profit'] > -0.005] 
pos_results

            event     ml_odds  dec_odds     bet  implied_prob  payout  profit  expected_value
0  mia_min_sixers  866.000000    9.6600  0.0278      0.103520  0.2683   0.075        0.007764
1      mia_min_sd  785.500000    8.8550  0.0303      0.112931  0.2683   0.075        0.008470
2  min_sixers_was  713.846154    8.1385  0.0330      0.122873  0.2683   0.075        0.009216
3      min_sd_was  646.025641    7.4603  0.0294      0.134044  0.2190   0.026        0.003485

In [16]:
pos_results['implied_prob'].sum()

0.4733672124976473