In [34]:
import os
import numpy as np

In [35]:
from classes.money_line import MoneyLine
from classes.parlay_system import ParlaySystem

In [36]:
match_a_team_1 = MoneyLine(event="KC", 
                           bet_amount=100, 
                        #    money_line_odds=100) # with profit boost
                           money_line_odds=-550) 

# match_a_team_1.df_stats

In [37]:
match_a_team_2 = MoneyLine(event="ny",
                           bet_amount=100,
                           money_line_odds=400)
# match_a_team_2.df_stats

In [38]:
match_b_team_1 = MoneyLine(event="pats",
                           bet_amount=100,
                           money_line_odds=-190)

# match_b_team_1.df_stats

In [39]:
match_b_team_2 = MoneyLine(event="panthers",
                           bet_amount=100,
                           money_line_odds=160)

# match_b_team_2.df_stats

In [40]:
match_c_team_1 = MoneyLine(event="ATL",
                           bet_amount=100,
                           money_line_odds=215)

# match_c_team_1.df_stats

In [41]:
match_c_team_2 = MoneyLine(event="saints",
                           bet_amount=100,
                           money_line_odds=-265)

# match_c_team_2.df_stats

In [42]:
binaries = [
    [match_a_team_1, match_a_team_2],
    [match_b_team_1, match_b_team_2],
    [match_c_team_1, match_c_team_2]
]

In [43]:
parlay_system = ParlaySystem(binaries=binaries,
                             target_profit=0.075,
                             bounds=(0.01, 50))

results = parlay_system.slsqp_solver(profit_type='avg_implied_profit')
# results = parlay_system.slsqp_solver(profit_type='avg_profit')

            constraints:
            [{'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x13da01b90>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x13da01c20>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x13da01f80>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x13d98ae60>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x13d959c20>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x13d959f80>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x13d9815f0>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x13d9814d0>}]


            final_val:
                 fun: 0.0020122931364397623
     jac: array([0.01688537, 0.01688537, 0.01688537, 0.01688537, 0.01688537,
       0.01688537, 0.01688537, 0.01688537])
 message: 'Positive directional derivative for linesearch'
    nfev: 160
     nit: 16
    njev: 12
  status: 8
 success: False
       x: array([0.01      , 0.01      , 0.01084427, 0.01847264, 0.02006115,
       0.02141735, 0.01837834, 0.01      ])


            ['ATL_ny_panthers', 'ATL_ny_pats', 'ny_panthers_saints', 'ny_pats_saints', 'ATL_KC_panthers', 'ATL_KC_pats', 'KC_panthers_saints', 'KC_pats_saints']
            [3994.9999999999995, 2303.9473684210525, 1690.566037735849, 951.1420059582917, 867.909090909091, 468.20574162679424, 323.2246998284735, 148.451746862869]
            [0.01, 0.01, 0.0108, 0.0185, 0.0201, 0.0214, 0.0184, 0.01]
            [40.95, 24.0395, 17.9057, 10.5114, 9.6791, 5.6821, 4.2322, 2.4845]
            [0.024420024420024423, 0.04159824849480022, 0.05584826132771338, 0.09513462446858764, 0.10331548793087254, 0.17599258978569327, 0.23628110561724888, 0.40249264198248613]
            [0.4095, 0.2404, 0.1942, 0.1942, 0.1942, 0.1217, 0.0778, 0.0248]
            [0, 0, 0, 0, 0, 0, 0, 0]
            [0.29, 0.121, 0.075, 0.075, 0.075, 0.003, -0.041, -0.094]


            Parlay system total bet 0.12:

In [44]:
results.head(10)
results.to_csv('/Users/ramp/Desktop/projects/sports_book2/data/nfl_profit_boost.csv', header=True, index=False)

# results_implied_profit.head(10)

In [45]:
print(f'''
    Total Bet Amount: {results['bet'].sum()}
    Total Implied Probability: {results['implied_prob'].sum()}
    Average Profit: {results['profit'].mean()}
''')

    Total Bet Amount: 0.11919999999999999
    Total Implied Probability: 1.1350829840274264
    Average Profit: 0.06299999999999999

In [46]:
results['expected_value'] = results['implied_prob'] * results['profit']
results[['event', 'bet', 'dec_odds', 'implied_prob', 'payout','profit', 'expected_value']].head(10)

                event     bet  dec_odds  implied_prob  payout  profit  expected_value
0     ATL_ny_panthers  0.0100   40.9500      0.024420  0.4095   0.290        0.007082
1         ATL_ny_pats  0.0100   24.0395      0.041598  0.2404   0.121        0.005033
2  ny_panthers_saints  0.0108   17.9057      0.055848  0.1942   0.075        0.004189
3      ny_pats_saints  0.0185   10.5114      0.095135  0.1942   0.075        0.007135
4     ATL_KC_panthers  0.0201    9.6791      0.103315  0.1942   0.075        0.007749
5         ATL_KC_pats  0.0214    5.6821      0.175993  0.1217   0.003        0.000528
6  KC_panthers_saints  0.0184    4.2322      0.236281  0.0778  -0.041       -0.009688
7      KC_pats_saints  0.0100    2.4845      0.402493  0.0248  -0.094       -0.037834

In [47]:

print(f'''
    Total Bet           : {results['bet'].sum()}
    Total Expected value: {results['expected_value'].sum()}
''')

    Total Bet           : 0.11919999999999999
    Total Expected value: -0.0158062827280879

In [48]:
all_results = results.loc[results['profit'] != 0.000000000] 
all_results

                event      ml_odds  dec_odds     bet  implied_prob  payout  override  profit  expected_value
0     ATL_ny_panthers  3995.000000   40.9500  0.0100      0.024420  0.4095         0   0.290        0.007082
1         ATL_ny_pats  2303.947368   24.0395  0.0100      0.041598  0.2404         0   0.121        0.005033
2  ny_panthers_saints  1690.566038   17.9057  0.0108      0.055848  0.1942         0   0.075        0.004189
3      ny_pats_saints   951.142006   10.5114  0.0185      0.095135  0.1942         0   0.075        0.007135
4     ATL_KC_panthers   867.909091    9.6791  0.0201      0.103315  0.1942         0   0.075        0.007749
5         ATL_KC_pats   468.205742    5.6821  0.0214      0.175993  0.1217         0   0.003        0.000528
6  KC_panthers_saints   323.224700    4.2322  0.0184      0.236281  0.0778         0  -0.041       -0.009688
7      KC_pats_saints   148.451747    2.4845  0.0100      0.402493  0.0248         0  -0.094       -0.037834

In [49]:
pos_results = results.loc[results['profit'] > -0.005] 
pos_results

                event      ml_odds  dec_odds     bet  implied_prob  payout  override  profit  expected_value
0     ATL_ny_panthers  3995.000000   40.9500  0.0100      0.024420  0.4095         0   0.290        0.007082
1         ATL_ny_pats  2303.947368   24.0395  0.0100      0.041598  0.2404         0   0.121        0.005033
2  ny_panthers_saints  1690.566038   17.9057  0.0108      0.055848  0.1942         0   0.075        0.004189
3      ny_pats_saints   951.142006   10.5114  0.0185      0.095135  0.1942         0   0.075        0.007135
4     ATL_KC_panthers   867.909091    9.6791  0.0201      0.103315  0.1942         0   0.075        0.007749
5         ATL_KC_pats   468.205742    5.6821  0.0214      0.175993  0.1217         0   0.003        0.000528

In [50]:
pos_results['implied_prob'].sum()

0.4963092364276915