In [981]:
import os
import numpy as np

In [982]:
from classes.money_line import MoneyLine
from classes.parlay_system import ParlaySystem

In [983]:
match_a_team_1 = MoneyLine(event="min", 
                           bet_amount=100, 
                           money_line_odds=130)

# match_a_team_1.update_money_line_odds(new_money_line_odds=(match_a_team_1.money_line_odds * 1.5)) 
# match_a_team_1.df_stats

In [984]:
match_a_team_2 = MoneyLine(event="ny",
                           bet_amount=100,
                           money_line_odds=-150)

# match_a_team_2.update_money_line_odds(new_money_line_odds=(match_a_team_2.money_line_odds * 1.5)) 
# match_a_team_2.df_stats

In [985]:
match_b_team_1 = MoneyLine(event="mia",
                           bet_amount=100,
                           money_line_odds=110)

# match_b_team_1.update_money_line_odds(new_money_line_odds=(match_b_team_1.money_line_odds * 1.5)) 
# match_b_team_1.df_stats

In [986]:
match_b_team_2 = MoneyLine(event="was",
                           bet_amount=100,
                           money_line_odds=-130)

# match_b_team_2.update_money_line_odds(new_money_line_odds=(match_b_team_2.money_line_odds * 1.5)) 
# match_b_team_2.df_stats

In [987]:
match_c_team_1 = MoneyLine(event="sd",
                           bet_amount=100,
                           money_line_odds=-120)

# match_c_team_1.update_money_line_odds(new_money_line_odds=(match_c_team_1.money_line_odds * 1.5)) 
# match_c_team_1.df_stats

In [988]:
match_c_team_2 = MoneyLine(event="sixers",
                           bet_amount=100,
                           money_line_odds=100)

# match_c_team_2.update_money_line_odds(new_money_line_odds=(match_c_team_2.money_line_odds * 1.5)) 
# match_c_team_2.df_stats

In [989]:
# for i in range(0, 8):
#     print(i)

In [990]:
binaries = [
    [match_a_team_1, match_a_team_2],
    [match_b_team_1, match_b_team_2],
    [match_c_team_1, match_c_team_2]
]

In [991]:
parlay_system = ParlaySystem(binaries=binaries,
                             target_profit=0.02,
                             bounds=(0.01, 50),
                             profit_boost_parlay=7, 
                             profit_boost_multiplier=1.5)

results = parlay_system.slsqp_solver(profit_type='avg_implied_profit')
# results = parlay_system.slsqp_solver(profit_type='avg_profit')

            constraints:
            [{'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x13f278c20>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x13f2784d0>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x13f2783b0>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x13f2788c0>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x13f278200>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x13f278b00>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x13f278e60>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x13f2780e0>}]


            final_val:
                 fun: 0.0011326767832415567
     jac: array([0.00960805, 0.00960805, 0.00960805, 0.00960805, 0.00960805,
       0.00960805, 0.00960805, 0.00960805])
 message: 'Positive directional derivative for linesearch'
    nfev: 163
     nit: 15
    njev: 11
  status: 8
 success: False
       x: array([0.01427415, 0.01557179, 0.01652117, 0.01694277, 0.01607692,
       0.01502544, 0.01347604, 0.01      ])


            ['mia_min_sixers', 'mia_min_sd', 'ny_sixers_was', 'min_sixers_was', 'min_sd_was', 'mia_ny_sixers', 'mia_ny_sd', 'ny_sd_was']
            [866.0, 785.5, 734.6153846153845, 713.8461538461538, 646.025641025641, 600.0, 541.6666666666667, 440.59829059829065]
            [0.0143, 0.0156, 0.0165, 0.0169, 0.0161, 0.015, 0.0135, 0.01]
            [9.66, 8.855, 8.3462, 8.1385, 7.4603, 7.0, 6.4167, 5.406]
            [0.10351966873706005, 0.11293054771315642, 0.11981566820276499, 0.1228733459357278, 0.13404365011170305, 0.14285714285714285, 0.1558441558441558, 0.18498023715415018]
            [0.1379, 0.1379, 0.1379, 0.1379, 0.1199, 0.1052, 0.0865, 0.0541]
            [0, 0, 1, 0, 0, 0, 0, 0]
            [0.02, 0.02, 0.02, 0.02, 0.002, -0.013, -0.031, -0.064]


            Parlay system total bet 0.12:

In [992]:
results
# results_implied_profit.head(10)

            event     ml_odds  dec_odds     bet  implied_prob  payout  override  profit
0  mia_min_sixers  866.000000    9.6600  0.0143      0.103520  0.1379         0   0.020
1      mia_min_sd  785.500000    8.8550  0.0156      0.112931  0.1379         0   0.020
2   ny_sixers_was  734.615385    8.3462  0.0165      0.119816  0.1379         1   0.020
3  min_sixers_was  713.846154    8.1385  0.0169      0.122873  0.1379         0   0.020
4      min_sd_was  646.025641    7.4603  0.0161      0.134044  0.1199         0   0.002
5   mia_ny_sixers  600.000000    7.0000  0.0150      0.142857  0.1052         0  -0.013
6       mia_ny_sd  541.666667    6.4167  0.0135      0.155844  0.0865         0  -0.031
7       ny_sd_was  440.598291    5.4060  0.0100      0.184980  0.0541         0  -0.064

In [993]:
print(f'''
    Total Bet Amount: {results['bet'].sum()}
    Total Implied Probability: {results['implied_prob'].sum()}
    Average Profit: {results['profit'].mean()}
''')

    Total Bet Amount: 0.11789999999999999
    Total Implied Probability: 1.0768644165558612
    Average Profit: -0.0032499999999999994

In [994]:
results['expected_value'] = results['implied_prob'] * results['profit']
results[['event', 'bet', 'dec_odds', 'implied_prob', 'payout','profit', 'override', 'expected_value']].head(10)

            event     bet  dec_odds  implied_prob  payout  profit  override  expected_value
0  mia_min_sixers  0.0143    9.6600      0.103520  0.1379   0.020         0        0.002070
1      mia_min_sd  0.0156    8.8550      0.112931  0.1379   0.020         0        0.002259
2   ny_sixers_was  0.0165    8.3462      0.119816  0.1379   0.020         1        0.002396
3  min_sixers_was  0.0169    8.1385      0.122873  0.1379   0.020         0        0.002457
4      min_sd_was  0.0161    7.4603      0.134044  0.1199   0.002         0        0.000268
5   mia_ny_sixers  0.0150    7.0000      0.142857  0.1052  -0.013         0       -0.001857
6       mia_ny_sd  0.0135    6.4167      0.155844  0.0865  -0.031         0       -0.004831
7       ny_sd_was  0.0100    5.4060      0.184980  0.0541  -0.064         0       -0.011839

In [995]:
overridden_result_df = results.loc[results['override'] == 1] 
overridden_result = overridden_result_df['event'].to_string(index=False)
overridden_result

'ny_sixers_was'

In [996]:
results.to_csv(f'/Users/ramp/Desktop/projects/sports_book2/data/{overridden_result}_mlb_profit_boost.csv', header=True, index=False)

In [997]:

print(f'''
    Total Bet           : {results['bet'].sum()}
    Total Expected value: {results['expected_value'].sum()}
''')

    Total Bet           : 0.11789999999999999
    Total Expected value: -0.009076174954179707

In [998]:
all_results = results.loc[results['profit'] != 0.000000000] 
all_results

            event     ml_odds  dec_odds     bet  implied_prob  payout  override  profit  expected_value
0  mia_min_sixers  866.000000    9.6600  0.0143      0.103520  0.1379         0   0.020        0.002070
1      mia_min_sd  785.500000    8.8550  0.0156      0.112931  0.1379         0   0.020        0.002259
2   ny_sixers_was  734.615385    8.3462  0.0165      0.119816  0.1379         1   0.020        0.002396
3  min_sixers_was  713.846154    8.1385  0.0169      0.122873  0.1379         0   0.020        0.002457
4      min_sd_was  646.025641    7.4603  0.0161      0.134044  0.1199         0   0.002        0.000268
5   mia_ny_sixers  600.000000    7.0000  0.0150      0.142857  0.1052         0  -0.013       -0.001857
6       mia_ny_sd  541.666667    6.4167  0.0135      0.155844  0.0865         0  -0.031       -0.004831
7       ny_sd_was  440.598291    5.4060  0.0100      0.184980  0.0541         0  -0.064       -0.011839

In [999]:
pos_results = results.loc[results['profit'] > -0.005] 
pos_results

            event     ml_odds  dec_odds     bet  implied_prob  payout  override  profit  expected_value
0  mia_min_sixers  866.000000    9.6600  0.0143      0.103520  0.1379         0   0.020        0.002070
1      mia_min_sd  785.500000    8.8550  0.0156      0.112931  0.1379         0   0.020        0.002259
2   ny_sixers_was  734.615385    8.3462  0.0165      0.119816  0.1379         1   0.020        0.002396
3  min_sixers_was  713.846154    8.1385  0.0169      0.122873  0.1379         0   0.020        0.002457
4      min_sd_was  646.025641    7.4603  0.0161      0.134044  0.1199         0   0.002        0.000268

In [1000]:
pos_results['implied_prob'].sum()

0.5931828807004123