In [1]:
import os
import numpy as np

In [2]:
from classes.money_line import MoneyLine
from classes.parlay_system import ParlaySystem

In [3]:
match_a_team_1 = MoneyLine(event="clippers",
                           bet_amount=100,
                           money_line_odds=-265)
# match_a_team_1.df_stats

In [4]:
match_a_team_2 = MoneyLine(event="mavs",
                           bet_amount=100,
                           money_line_odds=215)
# match_a_team_2.df_stats

In [5]:
match_b_team_1 = MoneyLine(event="nuggets",
                           bet_amount=100,
                           money_line_odds=165)

# match_b_team_1.df_stats

In [6]:
match_b_team_2 = MoneyLine(event="suns",
                           bet_amount=100,
                           money_line_odds=-200)

# match_b_team_2.df_stats

In [7]:
match_c_team_1 = MoneyLine(event="hawks",
                           bet_amount=100,
                           money_line_odds=170)

# match_c_team_1.df_stats

In [8]:
match_c_team_2 = MoneyLine(event="sixers",
                           bet_amount=100,
                           money_line_odds=-205)

# match_c_team_2.df_stats

In [9]:
binaries = [
    [match_a_team_1, match_a_team_2],
    [match_b_team_1, match_b_team_2],
    [match_c_team_1, match_c_team_2]
]

In [17]:
parlay_system = ParlaySystem(binaries=binaries,
                             target_profit=0.075,
                             bounds=(0.01, 50))

results = parlay_system.slsqp_solver(profit_type='avg_implied_profit')
# results = parlay_system.slsqp_solver(profit_type='avg_profit')

            constraints:
            [{'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x1424fa950>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x1424fa9e0>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x1424faa70>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x1424fab00>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x1424fab90>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x1424fac20>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x1424facb0>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x1424fad40>}]


            final_val:
                 fun: 0.0025560223289790717
     jac: array([0.01696622, 0.01696622, 0.01696622, 0.01696622, 0.01696622,
       0.01696622, 0.01696622, 0.01696622])
 message: 'Positive directional derivative for linesearch'
    nfev: 197
     nit: 19
    njev: 15
  status: 8
 success: False
       x: array([0.01001203, 0.01768792, 0.01816937, 0.02289737, 0.02630499,
       0.02300826, 0.02257368, 0.01      ])


            ['hawks_mavs_nuggets', 'hawks_mavs_suns', 'mavs_nuggets_sixers', 'clippers_hawks_nuggets', 'mavs_sixers_suns', 'clippers_hawks_suns', 'clippers_nuggets_sixers', 'clippers_sixers_suns']
            [2153.8250000000003, 1175.75, 1141.9451219512196, 885.4999999999999, 602.9878048780487, 457.8301886792452, 443.04878048780483, 207.38610216290837]
            [0.01, 0.0177, 0.0182, 0.0229, 0.0263, 0.023, 0.0226, 0.01]
            [22.5382, 12.7575, 12.4195, 9.855, 7.0299, 5.5783, 5.4305, 3.0739]
            [0.044369017115348346, 0.07838526357044875, 0.0805188556503125, 0.10147133434804669, 0.1422499783155521, 0.17926602401488248, 0.1841455198742421, 0.3253237517778277]
            [0.2257, 0.2257, 0.2257, 0.2257, 0.1849, 0.1283, 0.1226, 0.0307]
            [0.075, 0.075, 0.075, 0.075, 0.034, -0.022, -0.028, -0.12]


            Parlay system total bet 0.15:

In [18]:
results.head(10)
results.to_csv('/Users/ramp/Desktop/projects/sports_book2/data/spread_betting.csv', header=True, index=False)

# results_implied_profit.head(10)

In [19]:
print(f'''
    Total Bet Amount: {results['bet'].sum()}
    Total Implied Probability: {results['implied_prob'].sum()}
    Average Profit: {results['profit'].mean()}
''')

    Total Bet Amount: 0.1507
    Total Implied Probability: 1.1357297446666608
    Average Profit: 0.0205

In [20]:
results['expected_value'] = results['implied_prob'] * results['profit']
results[['event', 'bet', 'dec_odds', 'implied_prob', 'payout','profit', 'expected_value']].head(10)

                     event     bet  dec_odds  implied_prob  payout  profit  expected_value
0       hawks_mavs_nuggets  0.0100   22.5382      0.044369  0.2257   0.075        0.003328
1          hawks_mavs_suns  0.0177   12.7575      0.078385  0.2257   0.075        0.005879
2      mavs_nuggets_sixers  0.0182   12.4195      0.080519  0.2257   0.075        0.006039
3   clippers_hawks_nuggets  0.0229    9.8550      0.101471  0.2257   0.075        0.007610
4         mavs_sixers_suns  0.0263    7.0299      0.142250  0.1849   0.034        0.004836
5      clippers_hawks_suns  0.0230    5.5783      0.179266  0.1283  -0.022       -0.003944
6  clippers_nuggets_sixers  0.0226    5.4305      0.184146  0.1226  -0.028       -0.005156
7     clippers_sixers_suns  0.0100    3.0739      0.325324  0.0307  -0.120       -0.039039

In [21]:

print(f'''
    Total Bet           : {results['bet'].sum()}
    Total Expected value: {results['expected_value'].sum()}
''')

    Total Bet           : 0.1507
    Total Expected value: -0.02044644273410502

In [22]:
pos_results = results.loc[results['profit'] > -0.005] 
pos_results

                    event      ml_odds  dec_odds     bet  implied_prob  payout  profit  expected_value
0      hawks_mavs_nuggets  2153.825000   22.5382  0.0100      0.044369  0.2257   0.075        0.003328
1         hawks_mavs_suns  1175.750000   12.7575  0.0177      0.078385  0.2257   0.075        0.005879
2     mavs_nuggets_sixers  1141.945122   12.4195  0.0182      0.080519  0.2257   0.075        0.006039
3  clippers_hawks_nuggets   885.500000    9.8550  0.0229      0.101471  0.2257   0.075        0.007610
4        mavs_sixers_suns   602.987805    7.0299  0.0263      0.142250  0.1849   0.034        0.004836

In [23]:
pos_results['implied_prob'].sum()

0.4469944489997084