In [26]:
import os
import numpy as np

In [27]:
from classes.money_line import MoneyLine
from classes.parlay_system import ParlaySystem

In [28]:
match_a_team_1 = MoneyLine(event="nuggets",
                           bet_amount=100,
                           money_line_odds=170)
# match_a_team_1.df_stats

In [29]:
match_a_team_2 = MoneyLine(event="blazers",
                           bet_amount=100,
                           money_line_odds=-210)
# match_a_team_2.df_stats

In [30]:
match_b_team_1 = MoneyLine(event="suns",
                           bet_amount=100,
                           money_line_odds=114)

# match_b_team_1.df_stats

In [31]:
match_b_team_2 = MoneyLine(event="lakers",
                           bet_amount=100,
                           money_line_odds=-136)

# match_b_team_2.df_stats

In [32]:
match_c_team_1 = MoneyLine(event="clippers",
                           bet_amount=100,
                           money_line_odds=-136)

# match_c_team_1.df_stats

In [33]:
match_c_team_2 = MoneyLine(event="mavs",
                           bet_amount=100,
                           money_line_odds=114)

# match_c_team_2.df_stats

In [34]:
binaries = [
    [match_a_team_1, match_a_team_2],
    [match_b_team_1, match_b_team_2],
    [match_c_team_1, match_c_team_2]
]

In [57]:
parlay_system = ParlaySystem(binaries=binaries,
                             target_profit=0.075,
                             bounds=(0.01, 50))

results = parlay_system.slsqp_solver(profit_type='avg_implied_profit')
# results = parlay_system.slsqp_solver(profit_type='avg_profit')

            constraints:
            [{'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x1391907a0>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x139190b00>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x139190b90>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x139190c20>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x139190cb0>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x139190d40>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x139190dd0>}, {'type': 'ineq', 'fun': <function ParlaySystem.slsqp_solver.<locals>.<listcomp>.<lambda> at 0x138ff1050>}]


            final_val:
                 fun: 0.0030609285827983093
     jac: array([0.01763291, 0.01763291, 0.01763291, 0.01763291, 0.01763291,
       0.01763291, 0.01763291, 0.01763291])
 message: 'Positive directional derivative for linesearch'
    nfev: 234
     nit: 19
    njev: 15
  status: 8
 success: False
       x: array([0.0201046 , 0.0247934 , 0.0247934 , 0.03057573, 0.02583546,
       0.01874459, 0.01874459, 0.01      ])


            ['mavs_nuggets_suns', 'clippers_nuggets_suns', 'lakers_mavs_nuggets', 'clippers_lakers_nuggets', 'blazers_mavs_suns', 'blazers_clippers_suns', 'blazers_lakers_mavs', 'blazers_clippers_lakers']
            [1136.4919999999997, 902.6529411764706, 902.6529411764704, 713.0363321799308, 576.0361904761903, 448.1876750700279, 448.1876750700279, 344.5172186521668]
            [0.0201, 0.0248, 0.0248, 0.0306, 0.0258, 0.0187, 0.0187, 0.01]
            [12.3649, 10.0265, 10.0265, 8.1304, 6.7604, 5.4819, 5.4819, 4.4452]
            [0.08087395632159369, 0.0997354078298162, 0.09973540782981621, 0.12299573345249874, 0.14792107494949555, 0.18241927819195417, 0.18241927819195417, 0.2249631640889251]
            [0.2486, 0.2486, 0.2486, 0.2486, 0.1747, 0.1028, 0.1028, 0.0445]
            [0.075, 0.075, 0.075, 0.075, 0.001, -0.071, -0.071, -0.129]


            Parlay system total bet 0.17:

In [58]:
results.head(10)
results.to_csv('/Users/ramp/Desktop/projects/sports_book2/data/spread_betting.csv', header=True, index=False)

# results_implied_profit.head(10)

In [59]:
print(f'''
    Total Bet Amount: {results['bet'].sum()}
    Total Implied Probability: {results['implied_prob'].sum()}
    Average Profit: {results['profit'].mean()}
''')

    Total Bet Amount: 0.1735
    Total Implied Probability: 1.1410633008560538
    Average Profit: 0.0037499999999999964

In [70]:
results['expected_value'] = results['implied_prob'] * results['profit']
results[['event', 'bet', 'dec_odds', 'implied_prob', 'payout','profit', 'expected_value']].head(10)

                     event     bet  dec_odds  implied_prob  payout  profit  expected_value
0        mavs_nuggets_suns  0.0201   12.3649      0.080874  0.2486   0.075        0.006066
1    clippers_nuggets_suns  0.0248   10.0265      0.099735  0.2486   0.075        0.007480
2      lakers_mavs_nuggets  0.0248   10.0265      0.099735  0.2486   0.075        0.007480
3  clippers_lakers_nuggets  0.0306    8.1304      0.122996  0.2486   0.075        0.009225
4        blazers_mavs_suns  0.0258    6.7604      0.147921  0.1747   0.001        0.000148
5    blazers_clippers_suns  0.0187    5.4819      0.182419  0.1028  -0.071       -0.012952
6      blazers_lakers_mavs  0.0187    5.4819      0.182419  0.1028  -0.071       -0.012952
7  blazers_clippers_lakers  0.0100    4.4452      0.224963  0.0445  -0.129       -0.029020

In [54]:

print(f'''
    Total Bet           : {results['bet'].sum()}
    Total Expected value: {results['expected_value'].sum()}
''')

    Total Bet           : 0.2106
    Total Expected value: -0.029914301176425746

In [68]:
pos_results = results.loc[results['profit'] > -0.005] 
pos_results

                     event      ml_odds  dec_odds     bet  implied_prob  payout  profit  expected_value
0        mavs_nuggets_suns  1136.492000   12.3649  0.0201      0.080874  0.2486   0.075        0.006066
1    clippers_nuggets_suns   902.652941   10.0265  0.0248      0.099735  0.2486   0.075        0.007480
2      lakers_mavs_nuggets   902.652941   10.0265  0.0248      0.099735  0.2486   0.075        0.007480
3  clippers_lakers_nuggets   713.036332    8.1304  0.0306      0.122996  0.2486   0.075        0.009225
4        blazers_mavs_suns   576.036190    6.7604  0.0258      0.147921  0.1747   0.001        0.000148

In [69]:
pos_results['implied_prob'].sum()

0.5512615803832204